<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988064158191-5959bulq69jlfogahuvhua2gmq1k7sgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988064158191-5959bulq69jlfogahuvhua2gmq1k7sgb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>988064158191-jsr38688oueltdnof44986it0bbhs3gt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIHzxovclXIR21xTRvMjXEitv3cgAtpfk</string>
	<key>GCM_SENDER_ID</key>
	<string>988064158191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cardit</string>
	<key>PROJECT_ID</key>
	<string>cardit-9542f</string>
	<key>STORAGE_BUCKET</key>
	<string>cardit-9542f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988064158191:ios:da0572f41e6121a97ba61a</string>
</dict>
</plist>